<!-- templates/learning_analytics.html -->
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h6>Agent Learning Progress</h6>
      </div>
      <div class="card-body">
        <canvas id="learningChart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h6>Intervention Effectiveness</h6>
      </div>
      <div class="card-body">
        <canvas id="effectivenessChart"></canvas>
      </div>
    </div>
  </div>
</div>